@page
@model DemoRazorP.Pages.Clientes.AgregarModel
@{
}

<br />
<h2>Agregar Cliente</h2>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Direccion:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefono:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefono" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fecha de la Compra:</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="fechacompra" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-success">Agregar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" asp-page="/Clientes/Index" role="button">Cancelar</a>
        </div>
        </div>

</form>
